h1 {
    font-style: normal;
    font-weight: 700;
    color: rgb(8, 58, 128);
   
}



h2 {
    font-style: initial;
    color: rgb(123, 107, 196);
    
}


ul {


}

p {
    color: rgb(32, 61, 83);
    
    
}



body {
    background-color: rgb(235, 242, 243);
    font-family: sans-serif;
    text-align: center;
}