h1 {
    font-style: normal;
    font-weight: 700;
    color: rgb(235, 67, 15);
   
}



h2 {
    font-style: initial;
    color: rgb(212, 89, 17);
    
}


ul {


}

p {
    color: rgb(139, 7, 7);
    
    
}



body {
    background-color: rgb(235, 242, 243);
    font-family: sans-serif;
    text-align: center;
}